@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,900');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body{
  font-family: 'Muli', sans-serif;
  background: #F3F3F3;
}

* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}

nav {
    min-height: 127px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 22px -3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 22px -3px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 22px -3px rgba(0,0,0,0.4);
    font-size: 13px;
    font-weight: bold;
    color: #808080;
    font-family: 'Muli', sans-serif;
    position: relative;
    z-index: 1;
    background: #fff;
}

nav .container{
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  align-content: center;
  height: 127px;
}

a{
  text-decoration: none;
  color:inherit;
}

nav ul{
  list-style: none;
}

nav ul li{
  margin-left: 50px;
  display: inline-block;
}

nav ul li:first-child{
  margin-left: 0px;
}

nav .logo{
  height: 68px;
  overflow: hidden;
}

nav .logo svg{
  max-width: 422px;
  height: auto;
  margin-top: -66px;
  margin-left: -50px;
}

nav li a:hover{
  color: black;
  border-bottom:2px solid #808080;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.article--content {
  max-width: 850px;
  padding-right: 85px;
  padding-top: 78px;
  margin-bottom: 36px;
}

.article--title {
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 6px;
}

.article--text {
  margin-top: 45px;
}

.date-label {
  font-size: 16px;
  color: #A8AEB5;
}

.article-list {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 65px;
  display: flex;
  justify-content: space-between;

}

.article-list__card {
  max-width: 360px;
  box-shadow: 0px 6px 15px #c3c3c3;
  margin: 0 16px;
}

.article-list__card-image {
  width: 100%;
  height: 155px;
  position: relative;
  overflow: hidden;
}

.article-list__card-image img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.article-list__headline {
  font-size: 17px;
  background: #fff;
  padding: 16px;
}

.blog__header {
  position: relative;
  width: 100%;
  height: 445px;
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
}

.blog__header img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;

}
